<a href="https://colab.research.google.com/github/KommanaboyinaPraveenKumar/AnimeHigherOrLower/blob/main/LAB1_AP23110010460.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üßë‚Äçüíª NumPy Complete Guided Project
**Instructor / Student Colab Notebook** ‚Äì covers *all* key concepts from `Numpy‚Äë1` to `Numpy‚Äë5`.

*Generated: 08¬†Aug¬†2025*


**Table of Contents**

1. [Setup](#setup)  
2. [Array Creation & Dtypes](#creation)  
3. [Array Attributes & Inspection](#attributes)  
4. [Indexing, Slicing, Fancy Indexing](#indexing)  
5. [Reshaping, Transpose & Copies vs‚ÄØViews](#reshape)  
6. [Joining, Splitting, Set & Sorting Ops](#join)  
7. [Arithmetic Ops, Universal Functions](#arithmetic)  
8. [Broadcasting (Rules¬†+ Examples)](#broadcast)  
9. [Statistics & Aggregations](#stats)  
10. [Random Numbers & Reproducibility](#random)  
11. [Structured¬†/ Recarrays](#structured)  
12. [Linear Algebra Essentials](#linalg)  
13. [File¬†I/O (`npy`, `npz`, `txt`)](#io)  
14. [Datetime64 & Timedelta64](#datetime)  
15. [Masked Arrays & NaNs](#mask)  
16. [Mini‚ÄëProject¬†‚Äî Fitness Data Analysis](#project)  
17. [Conclusion & Next Steps](#conclusion)

## <a name='setup'></a>1Ô∏è‚É£ Setup

In [2]:
import numpy as np, math, os, pathlib, types, textwrap, random
print('NumPy version:', np.__version__)

NumPy version: 2.0.2

## <a name='creation'></a>2Ô∏è‚É£ Array Creation & Dtypes

Key functions: `np.array`, `np.arange`, `np.linspace`, `zeros`, `ones`, `full`, `eye`, `identity`, `diag`, `empty`

In [3]:
# EXAMPLE
arr1 = np.array([1, 2, 3], dtype=np.int32)
arr2 = np.linspace(0, 1, 6)
arr3 = np.full((2,3), 7.5)
print(arr1, arr2, arr3, sep="\n")
print("dtypes:", arr1.dtype, arr2.dtype)

[1 2 3]
[0.  0.2 0.4 0.6 0.8 1. ]
[[7.5 7.5 7.5]
 [7.5 7.5 7.5]]
dtypes: int32 float64

In [4]:
# üñäÔ∏è¬†TODO: create a 10√ó10 chessboard pattern using zeros & ones
arr4=np.zeros((10,10),dtype=int)
arr4[1::2, ::2] = 1
arr4[::2, 1::2]=1
print(arr4)

[[0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0 1 0]]

## <a name='attributes'></a>3Ô∏è‚É£ Array Attributes & Inspection

`shape`, `ndim`, `size`, `dtype`, `itemsize`, `nbytes`

In [5]:
M = np.arange(12).reshape(3,4)
print('shape', M.shape, 'ndim', M.ndim, 'size', M.size, 'itemsize', M.itemsize, 'total bytes', M.nbytes)

shape (3, 4) ndim 2 size 12 itemsize 8 total bytes 96

In [6]:
# üñäÔ∏è TODO: check memory footprint of a 1000√ó1000 float64 array
f=np.zeros((1000,1000),dtype=float)
print(f.nbytes)

8000000

## <a name='indexing'></a>4Ô∏è‚É£ Indexing, Slicing & Fancy Indexing

In [7]:
a = np.arange(1,26).reshape(5,5)
print(a[:, 0])     # first column
print(a[::2, ::2]) # every 2nd row/col
mask = (a % 3 == 0)
print('multiples of 3:', a[mask])

[ 1  6 11 16 21]
[[ 1  3  5]
 [11 13 15]
 [21 23 25]]
multiples of 3: [ 3  6  9 12 15 18 21 24]

In [8]:
# üñäÔ∏è TODO: use fancy indexing to swap first and last rows of `a`
print(a)
a[0][0], a[-1][-1]=a[-1][-1], a[0][0]
print(a)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24 25]]
[[25  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]
 [21 22 23 24  1]]

## <a name='reshape'></a>5Ô∏è‚É£ Reshaping, Transpose & Copies vs‚ÄØViews

In [9]:
b = np.arange(8)
B = b.reshape(2,4)
B[0,0] = 99
print('b is modified:', b)
C = b.reshape(2,4).copy()
C[0,0] = -1
print('b unchanged with copy:', b)

b is modified: [99  1  2  3  4  5  6  7]
b unchanged with copy: [99  1  2  3  4  5  6  7]

In [10]:
# üñäÔ∏è TODO: Flatten a 3‚ÄëD array into 1‚ÄëD using both `ravel` and `flatten`; observe copy vs view.
a=np.full((3,3),1)
print(a)
b=a.flatten()
c=a.ravel()
print(b)
print(c)
k=a.copy()
k[0]=60
l=a.view()

print("a copy:",k)
print("a:",a)
print("L",l)
l[0]=10
print(l)
print(a)

[[1 1 1]
 [1 1 1]
 [1 1 1]]
[1 1 1 1 1 1 1 1 1]
[1 1 1 1 1 1 1 1 1]
a copy: [[60 60 60]
 [ 1  1  1]
 [ 1  1  1]]
a: [[1 1 1]
 [1 1 1]
 [1 1 1]]
L [[1 1 1]
 [1 1 1]
 [1 1 1]]
[[10 10 10]
 [ 1  1  1]
 [ 1  1  1]]
[[10 10 10]
 [ 1  1  1]
 [ 1  1  1]]

## <a name='join'></a>6Ô∏è‚É£ Joining, Splitting, Set & Sorting Ops

In [11]:
x = np.array([1,3,5]); y = np.array([2,4,6])
xy = np.concatenate([x,y])
print('union', np.union1d(x,y))
print('intersect', np.intersect1d(xy,[1,2,10]))
print('sorted descending', np.sort(xy)[::-1])

union [1 2 3 4 5 6]
intersect [1 2]
sorted descending [6 5 4 3 2 1]

In [12]:
# üñäÔ∏è TODO: split `xy` back into two equal halves using `np.array_split`
xy=np.array_split(xy,2)
print(xy)

[array([1, 3, 5]), array([2, 4, 6])]

## <a name='arithmetic'></a>7Ô∏è‚É£ Arithmetic Ops & Universal Functions

In [13]:
v = np.arange(5)
print('exp', np.exp(v))
print('sin', np.sin(v))
print('vectorised addition', v + 10)

exp [ 1.          2.71828183  7.3890561  20.08553692 54.59815003]
sin [ 0.          0.84147098  0.90929743  0.14112001 -0.7568025 ]
vectorised addition [10 11 12 13 14]

## <a name='broadcast'></a>8Ô∏è‚É£ Broadcasting Rules

In [14]:
# üñäÔ∏è TODO: given degrees [0,30,45,60,90], compute radians and sin values.
d=np.array([0., 30., 45., 60., 90.], dtype=float)

d_rad=np.radians(d)
print("rad sin",np.sin(d_rad))

rad sin [0.         0.5        0.70710678 0.8660254  1.        ]

Rules: compare dimensions from right ‚Üí left; stretch size 1 dims; mismatch error.

In [15]:
row = np.arange(5)
col = np.arange(3).reshape(3,1)
matrix = row + col  # broadcast to 3√ó5
print(matrix)

[[0 1 2 3 4]
 [1 2 3 4 5]
 [2 3 4 5 6]]

In [16]:
# üñäÔ∏è TODO: use broadcasting to create a 10√ó10 multiplication table.
r=np.arange(1,11)
c=np.arange(1,11).reshape(10,1)
m=r*c
print(m)

[[  1   2   3   4   5   6   7   8   9  10]
 [  2   4   6   8  10  12  14  16  18  20]
 [  3   6   9  12  15  18  21  24  27  30]
 [  4   8  12  16  20  24  28  32  36  40]
 [  5  10  15  20  25  30  35  40  45  50]
 [  6  12  18  24  30  36  42  48  54  60]
 [  7  14  21  28  35  42  49  56  63  70]
 [  8  16  24  32  40  48  56  64  72  80]
 [  9  18  27  36  45  54  63  72  81  90]
 [ 10  20  30  40  50  60  70  80  90 100]]

## <a name='stats'></a>9Ô∏è‚É£ Statistics & Aggregations

In [17]:
data = np.random.default_rng(0).integers(1, 100, size=(5,4))
print('data\n', data)
print('row sums', data.sum(axis=1))
print('col means', data.mean(axis=0))

data
 [[85 64 51 27]
 [31  5  8  2]
 [18 81 65 91]
 [50 61 97 73]
 [63 54 56 93]]
row sums [227  46 255 281 266]
col means [49.4 53.  55.4 57.2]

In [18]:
# üñäÔ∏è TODO: compute `np.percentile` (25th, 50th, 75th) of flattened `data`.
data=data.flatten()
print(np.percentile(data,25))
print(np.percentile(data,50))
print(np.percentile(data,75))

30.0
58.5
75.0

## <a name='random'></a>üîü Random Numbers & Reproducibility

In [19]:
rng = np.random.default_rng(42)
rand_floats = rng.random(5)
rand_ints = rng.integers(low=10, high=50, size=5)
print(rand_floats, rand_ints)
rng2 = np.random.default_rng(42)
assert np.allclose(rand_floats, rng2.random(5))

[0.77395605 0.43887844 0.85859792 0.69736803 0.09417735] [31 49 39 40 38]

In [20]:
# üñäÔ∏è TODO: simulate rolling a fair six‚Äësided die 100 times; estimate proportion of 6s.
rng=np.random.default_rng(6)
k=rng.integers(1,7,size=100)
print(np.count_nonzero(k==6)/100)

0.17

## <a name='structured'></a>1Ô∏è‚É£1Ô∏è‚É£ Structured / Record Arrays

In [21]:
people = np.array([('Alice', 25, 55.0), ('Bob', 30, 85.5)],
                   dtype=[('name','U10'), ('age','i4'), ('weight','f4')])
print(people['name'], people['age'].mean())

['Alice' 'Bob'] 27.5

In [37]:
# üñäÔ∏è TODO: add a new field 'height' to the structured array using `np.lib.recfunctions.append_fields` (hint: pip install?).
!pip install pandas
import pandas as pd
df = pd.DataFrame(people)
df['height']=[1.7,1.8]
print(df)

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
    name  age  weight  height
0  Alice   25    55.0     1.7
1    Bob   30    85.5     1.8

## <a name='linalg'></a>1Ô∏è‚É£2Ô∏è‚É£ Linear Algebra Essentials

In [38]:
A = np.random.random((3,3))
b = np.random.random(3)
x = np.linalg.solve(A, b)
print('A¬∑x ‚âà b?', np.allclose(A.dot(x), b))

A¬∑x ‚âà b? True

In [39]:
# üñäÔ∏è TODO: compute eigenvalues of `A` using `np.linalg.eig`.
print(np.linalg.eig(A))

EigResult(eigenvalues=array([ 1.11028835+0.j        , -0.15033933+0.32029422j,
       -0.15033933-0.32029422j]), eigenvectors=array([[ 0.68661917+0.j        ,  0.74224111+0.j        ,
         0.74224111-0.j        ],
       [ 0.51554315+0.j        , -0.30413805-0.26867924j,
        -0.30413805+0.26867924j],
       [ 0.51261036+0.j        , -0.33673691+0.41351892j,
        -0.33673691-0.41351892j]]))

## <a name='io'></a>1Ô∏è‚É£3Ô∏è‚É£ File‚ÄØI/O (`npy`, `npz`, `txt`)

In [40]:
np.save('array.npy', A)
loaded = np.load('array.npy')
print('loaded equals A?', np.allclose(loaded, A))
np.savez('multi_arrays.npz', A=A, b=b)

loaded equals A? True

In [43]:
# üñäÔ∏è TODO: Use `np.savetxt` to write `data` (from stats section) to CSV then reload with `np.loadtxt`.
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
np.savetxt('data.csv', data, delimiter=',')
s_data = np.loadtxt('data.csv', delimiter=',')
print(s_data)

[[1. 2. 3.]
 [4. 5. 6.]
 [7. 8. 9.]]

## <a name='datetime'></a>1Ô∏è‚É£4Ô∏è‚É£ Datetime64 & Timedelta64

In [44]:
dates = np.arange('2023-01', '2023-04', dtype='datetime64[D]')
delta = dates[1:] - dates[:-1]
print(dates[:5], delta[0])

['2023-01-01' '2023-01-02' '2023-01-03' '2023-01-04' '2023-01-05'] 1 days

In [55]:
# üñäÔ∏è TODO: find how many Mondays appear in `dates` array.
import pandas as pd
c=0
for i in dates:
  if pd.Timestamp(i).weekday()==0:
    c+=1
print(c)

13

## <a name='mask'></a>1Ô∏è‚É£5Ô∏è‚É£ Masked Arrays & NaNs

In [29]:
arr = np.array([1, 2, np.nan, 4, np.nan])
masked = np.ma.masked_invalid(arr)
print(masked.mean())

2.3333333333333335

In [59]:
# üñäÔ∏è TODO: replace NaNs with column means in a 2‚ÄëD array containing NaNs.
arr=np.array([[1,2,np.nan],[4,5,6],[np.nan,8,9]])
col_means=np.nanmean(arr, axis=0)
p= np.where(np.isnan(arr))
arr[p] = col_means[p[1]]
print(arr)

[[1.  2.  7.5]
 [4.  5.  6. ]
 [2.5 8.  9. ]]

## <a name='project'></a>1Ô∏è‚É£6Ô∏è‚É£ Mini‚ÄëProject: Fitness Data Analysis

Load `fitness.txt` (tab‚Äëseparated) then follow prompts.

In [71]:
fitness = np.genfromtxt('/content/fitness.txt', delimiter=None, dtype=None, encoding=None, names=True, autostrip=True)

print('columns:', fitness.dtype.names, 'rows:', len(fitness))
import pandas as pd
print(pd.DataFrame(fitness))

columns: ('date', 'step_count', 'mood', 'calories_burned', 'hours_of_sleep', 'bool_of_active', 'weight_kg') rows: 96
          date  step_count  mood  calories_burned  hours_of_sleep  \
0   06-10-2017        5464   200              181               5
1   07-10-2017        6041   100              197               8
2   08-10-2017          25   100                0               5
3   09-10-2017        5461   100              174               4
4   10-10-2017        6915   200              223               5
..         ...         ...   ...              ...             ...
91  05-01-2018         133   100                4               2
92  06-01-2018         153   300                0               8
93  07-01-2018         500   200                0               5
94  08-01-2018        2127   200                0               5
95  09-01-2018        2203   300                0               5

    bool_of_active  weight_kg
0                0         66
1                0         66
2                0         66
3                0         66
4              500         66
..             ...        ...
91               0         64
92               0         64
93             500         64
94               0         64
95             500         64

[96 rows x 7 columns]

In [74]:
# üñäÔ∏è TODO: Monthly step count, sleep vs mood correlation, weekly summary, etc.
m = np.array([d[3:] for d in fitness['date']])
u = np.unique(m)

s = [np.sum(fitness['step_count'][m == i]) for i in u]

print("\nMonthly step totals:")
for month, steps in zip(u, s):
    print(f"{month}: {steps}")

sh = fitness['hours_of_sleep']
mood = fitness['mood']
corr = np.corrcoef(sh, mood)[0, 1]
print("\nSleep vs mood correlation:", round(corr, 3))

dates = np.array([np.datetime64(f"{d[6:]}-{d[3:5]}-{d[:2]}") for d in fitness['date']])

w = dates.astype('datetime64[W]')

r = []
for week in np.unique(w):
    mask = w == week
    r.append((
        str(week),
        np.sum(fitness['step_count'][mask]),
        np.mean(fitness['mood'][mask]),
        np.mean(fitness['hours_of_sleep'][mask])
    ))

print("\nWeekly summary (week, total_steps, avg_mood, avg_sleep):")
for i in r:
    print(i)

Monthly step totals:
01-2018: 10163
10-2017: 79051
11-2017: 103071
12-2017: 89565

Sleep vs mood correlation: 0.21

Weekly summary (week, total_steps, avg_mood, avg_sleep):
('2017-10-05', np.int64(28451), np.float64(133.33333333333334), np.float64(5.5))
('2017-10-12', np.int64(19456), np.float64(128.57142857142858), np.float64(6.142857142857143))
('2017-10-19', np.int64(19524), np.float64(142.85714285714286), np.float64(5.714285714285714))
('2017-10-26', np.int64(16055), np.float64(242.85714285714286), np.float64(6.142857142857143))
('2017-11-02', np.int64(24977), np.float64(285.7142857142857), np.float64(3.857142857142857))
('2017-11-09', np.int64(27678), np.float64(300.0), np.float64(5.857142857142857))
('2017-11-16', np.int64(20375), np.float64(285.7142857142857), np.float64(5.428571428571429))
('2017-11-23', np.int64(21998), np.float64(257.14285714285717), np.float64(6.142857142857143))
('2017-11-30', np.int64(20393), np.float64(300.0), np.float64(7.0))
('2017-12-07', np.int64(22494), np.float64(157.14285714285714), np.float64(4.142857142857143))
('2017-12-14', np.int64(22428), np.float64(185.71428571428572), np.float64(4.428571428571429))
('2017-12-21', np.int64(19203), np.float64(157.14285714285714), np.float64(4.428571428571429))
('2017-12-28', np.int64(13000), np.float64(171.42857142857142), np.float64(3.5714285714285716))
('2018-01-04', np.int64(5818), np.float64(200.0), np.float64(4.666666666666667))

## <a name='conclusion'></a>1Ô∏è‚É£7Ô∏è‚É£ Conclusion & Further Practice
Congrats on covering **all core NumPy topics** from your five lecture notebooks!

*Keep experimenting, read the official docs, and try converting your NumPy pipelines into Pandas or JAX for more fun.*